@import "@styles/vars";
@import "@styles/mixins";

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  padding-left: 1rem;
  margin: 0.5rem;

  @include bpMax($mobile) {
    padding-left: 0;
  }
}

.close {
  font-size: 2rem;
  cursor: pointer;
  position: relative;
}

.icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}