@use "@styles/vars";
@use "@styles/mixins";

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  margin: 0.5rem;
  background-color:vars.$secondary;
  color:vars.$white;

  @include mixins.bpMax(vars.$mobile) {
    padding-left: 0;
  }
}

.info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.person {
  font-size: 3rem;
}