.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  padding-left: 1rem;
  margin: 0.5rem;
}

.close {
  font-size: 2rem;
  cursor: pointer;
  position: relative;
}

.icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}


@media screen and (max-width: 500px) {
  .user {
    padding-left: 0;
  }
}