.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0 auto;
  transform: translate3d(-50%, -50%, 0);
  animation: rotate infinite 2s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}