@use "@styles/vars";
@use "@styles/mixins";

.button {
  border:vars.$dark 1px solid;
  box-shadow:vars.$dark 0px 1px 10px;
  outline: transparent 2px solid;
  background-color: vars.$primary;
  color:vars.$gray;
  padding: 1rem 2.5rem;
  cursor: pointer;
  transition: all linear 0.3s;
  width: 100%;
  border-radius: 10px;

  &:hover {
    background-color:vars.$dark;
  }

  &:focus {
    outline:vars.$gray 2px solid;
  }

  @include mixins.bpMax(vars.$mobile) {
    padding: 0.5rem;
  }
}