@use "@styles/vars";

.input {
  border:vars.$dark 1px solid;
  box-shadow:vars.$dark 0px 1px 10px;
  outline: transparent 2px solid;
  background-color: vars.$primary;
  color:vars.$gray;
  padding: 1rem 1.5rem;
  transition: all linear 0.3s;
  position: relative;
  z-index: 100;
  width: 100%;
  border-radius: 10px;

  &.rect {
    border-radius: 0;
  }

  &:hover {
    background-color:vars.$dark;
  }

  &:focus {
    outline:vars.$gray 2px solid;
  }

  &::placeholder {
    color:vars.$gray;
  }
}