@import "@styles/vars";

.input {
  border: $dark 1px solid;
  box-shadow: $dark 0px 1px 10px;
  outline: none;
  background-color: $primary;
  color: $gray;
  padding: 1rem 1.5rem;
  transition: all linear 0.3s;
  position: relative;
  z-index: 100;
  width: 100%;

  &:hover {
    background-color: $dark;
  }

  &:focus {
    border: $gray 1px solid;
  }

  &::placeholder {
    color: $gray;
  }
}