@import "@styles/vars";
@import "@styles/mixins";

.sidebar {
  position: fixed;
  left: 0;
  top: 10vh;
  z-index: 100;
  height: 90vh;
  width: 25vw;
  background-color: $secondary;
  box-shadow: $dark 0px 1px 10px;
  overflow-y: auto;
  text-align: center;

  &.mobile {
    width: 70vw;
  }

  &.hidden {
    width: 0vw;
  }

  li {
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  @include bpMax($mobile) {
    width: 0vw;
  }
}

.title {
  font-size: 2rem;
  margin: 1rem 0;
}

.subtitle {
  font-size: 1.5rem;
}