@import "@styles/vars";
@import "@styles/mixins";

.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 10% auto;
  padding: 2rem;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: $dark 0px 1px 10px;
  border: $dark 1px solid;

  @include bpMax($tablet) {
    width: 80%;
  }

  @include bpMax($tablet-pt) {
    width: 95%;
  }
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-shadow: $white 1px 1px 10px;
}

.subtitle {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: $gray;
  text-align: center;
}