.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 10% auto;
  padding: 2rem;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: #212121 0px 1px 10px;
  border: #212121 1px solid;
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-shadow: #fff 1px 1px 10px;
}

.subtitle {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: #ccc;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .homepage {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .homepage {
    width: 95%;
  }
}