@use "@styles/vars";
@use "@styles/mixins";

.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 10% auto;
  padding: 2rem;
  border-radius: 10px;
  flex-direction: column;
  box-shadow:vars.$dark 0px 1px 10px;
  border:vars.$dark 1px solid;
  background-color: vars.$primary;

  @include mixins.bpMax(vars.$tablet) {
    width: 80%;
  }

  @include mixins.bpMax(vars.$tablet-pt) {
    width: 95%;
  }
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-shadow:vars.$white 1px 1px 10px;
  color:vars.$white;
}

.subtitle {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color:vars.$gray;
  text-align: center;
}